<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - PetGo後台管理</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               @using Microsoft.AspNet.Identity
            @if (Request.IsAuthenticated)
            {

                if (User.Identity.GetUserName().Equals("cr4iii9204@gmail.com"))
                {
                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()

                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                @Html.ActionLink("您好 " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                            </li>
                            <li>
                                @Html.ActionLink("後台管理", "Index", "Manage", new { area = "" }, new { @class = "navbar-brand" })
                            </li>
                            <li><a href="javascript:document.getElementById('logoutForm').submit()">登出</a></li>
                        </ul>
                    }
                }
                else
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li>僅提供管理者使用</li>
                        <li> @Html.ActionLink("登入", "Login", "Account", new { area = "" }, new { @class = "navbar-brand" })</li>
                    </ul>
                }

            }
            else
            {
                <ul class="nav navbar-nav navbar-right">
                    <li> @Html.ActionLink("登入", "Login", "Account", new { area = "" }, new { @class = "navbar-brand" })</li>
                </ul>
            }
                
                
               
              
               
            </div>
        </div>
    </div>
    <div class="container body-content">
      
                        @RenderBody()
                        <hr />
                        <footer>
                            <p>&copy; @DateTime.Now.Year - PetGo後台管理系統</p>
                        </footer>
                    </div>

                    @Scripts.Render("~/bundles/jquery")
                    @Scripts.Render("~/bundles/bootstrap")
                    @RenderSection("scripts", required: false)
</body>
</html>
